/* line 5, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html { line-height: 1; }

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul { list-style: none; }

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table { border-collapse: collapse; border-spacing: 0; }

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote { quotes: none; }
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img { border: none; }

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

@font-face { font-family: "iconfont"; src: url("../images/font/iconfont.eot");
  /* IE9*/
src: url("../images/font/iconfont.eot?#iefix") format("embedded-opentype"), url("../images/font/iconfont.woff") format("woff"), url("../images/font/iconfont.ttf") format("truetype"), url("../images/font/iconfont.svg#iconfont") format("svg");
  /* iOS 4.1- */ }
/* line 24, ../sass/style.scss */
.iconfont, .site-top-left a:before, .ico-time:before, .ico-location:before, .ico-tag:before, .ico-globe:before, .ico-phone:before, .icon-info .ico:before, .swipe-prev:before, .swipe-next:before, .nav-bar-search:before, .item-list a:before, .tbview-list a:before, .pic-edit:before { font-family: "iconfont" !important; font-size: 16px; font-style: normal; -webkit-font-smoothing: antialiased; -webkit-text-stroke-width: 0.2px; -moz-osx-font-smoothing: grayscale; }

/* line 46, ../sass/style.scss */
html { font-size: 20px; }

/* line 47, ../sass/style.scss */
body { font-family: Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.5; -webkit-font-smoothing: antialiased; }

/* line 49, ../sass/style.scss */
html, body { height: 100%; }

/* line 52, ../sass/style.scss */
#content { overflow: hidden; max-width: 800px; margin: auto; }

/* line 53, ../sass/style.scss */
a { text-decoration: none; color: #000; }

/* line 55, ../sass/style.scss */
.ui-btn { display: block; height: 60px; line-height: 60px; text-align: center; font-size: 18px; background: #45437c; color: #fff; }
/* line 56, ../sass/style.scss */
.ui-btn.btn-small { font-size: 14px; height: 26px; line-height: 26px; }

/* line 62, ../sass/style.scss */
img { max-width: 100%; }

/* line 64, ../sass/style.scss */
.colorPurple { color: #45437c; }

/* line 67, ../sass/style.scss */
.colorGrey { color: #797979; }

/* line 70, ../sass/style.scss */
.colorDark { color: #4a4a4a; }

/* line 73, ../sass/style.scss */
.colorGreen { color: #00dd05; }

/* line 76, ../sass/style.scss */
.colorRed { color: #e60000; }

/* line 79, ../sass/style.scss */
.tar { text-align: right; }

/* line 82, ../sass/style.scss */
.tac { text-align: center; }

/* line 86, ../sass/style.scss */
.ui-list { list-style-type: disc; }
/* line 88, ../sass/style.scss */
.ui-list li { margin-left: 16px; }

/* line 93, ../sass/style.scss */
.icon-info { width: 90%; margin: auto; text-align: center; }
/* line 97, ../sass/style.scss */
.icon-info .ico { display: block; width: 110px; height: 110px; margin: auto; line-height: 110px; text-align: center; }
/* line 104, ../sass/style.scss */
.icon-info .ico:before { font-size: 80px; }
/* line 108, ../sass/style.scss */
.icon-info .info { line-height: 1.5; }
/* line 110, ../sass/style.scss */
.icon-info .info strong { color: #45437c; font-size: 16px; }
/* line 115, ../sass/style.scss */
.icon-info .button-bar { margin: 24px 0; }

/* line 121, ../sass/style.scss */
.ico-time:before, .ico-location:before, .ico-tag:before, .ico-globe:before { margin-right: 7px; }

/* line 125, ../sass/style.scss */
.ico-time:before { content: "\f017"; }

/* line 126, ../sass/style.scss */
.ico-location:before { content: "\f041"; }

/* line 127, ../sass/style.scss */
.ico-phone:before { content: "\f095"; }

/* line 128, ../sass/style.scss */
.ico-tag:before { content: "\f02b"; }

/* line 129, ../sass/style.scss */
.ico-globe:before { content: "\f0ac"; }

/* line 130, ../sass/style.scss */
.ico-success:before { content: "\f058"; color: #2ecc71; }

/* line 131, ../sass/style.scss */
.ico-error:before { content: "\f057"; color: #fa7228; }

/* line 133, ../sass/style.scss */
.tabbar { margin: 0 -15px 10px; }
/* line 134, ../sass/style.scss */
.tabbar ul { display: -moz-box; display: -webkit-box; background: #f9f9f8; }
/* line 135, ../sass/style.scss */
.tabbar li { -moz-box-flex: 1; -webkit-box-flex: 1; width: 100%; height: 38px; line-height: 38px; }
/* line 136, ../sass/style.scss */
.tabbar li.selected { background: #f5f3f1; }
/* line 137, ../sass/style.scss */
.tabbar li.selected a { color: #45437c; }
/* line 140, ../sass/style.scss */
.tabbar a { display: block; height: 38px; text-align: center; font-size: 16px; color: #797979; line-height: 38px; }

/* line 142, ../sass/style.scss */
.filter-tab { margin-top: -15px; }
/* line 143, ../sass/style.scss */
.filter-tab ul { background: #d1c9bd; }
/* line 144, ../sass/style.scss */
.filter-tab li { position: relative; text-align: center; color: #fff; overflow: hidden; }
/* line 145, ../sass/style.scss */
.filter-tab li select { position: absolute; width: 100%; height: 100%; left: 0; top: 0; -moz-appearance: none; -webkit-appearance: none; text-align: center; opacity: 0; }
/* line 146, ../sass/style.scss */
.filter-tab li.selected { background: #c3b8a7; }
/* line 147, ../sass/style.scss */
.filter-tab li.selected a { color: #fff; }
/* line 150, ../sass/style.scss */
.filter-tab a { color: #fff; }

/* line 152, ../sass/style.scss */
.mask { position: absolute; left: 0; top: 0; right: 0; bottom: 0; }

/* line 155, ../sass/style.scss */
.swipe { overflow: hidden; visibility: hidden; position: relative; }

/* line 156, ../sass/style.scss */
.swipe-wrap { overflow: hidden; position: relative; }
/* line 157, ../sass/style.scss */
.swipe-wrap > div { float: left; width: 100%; position: relative; overflow: hidden; }

/* line 159, ../sass/style.scss */
.swipe-prev, .swipe-next { position: absolute; width: 1.8rem; height: 1.8rem; top: 50%; margin-top: -0.9rem; line-height: 1.8rem; }
/* line 161, ../sass/style.scss */
.swipe-prev:before, .swipe-next:before { position: absolute; left: 0; width: 100%; height: 100%; font-size: 1.2rem; color: #fff; text-align: center; text-shadow: 2px 2px 4px #4a4a4a; }

/* line 163, ../sass/style.scss */
.swipe-prev { left: 0; }
/* line 164, ../sass/style.scss */
.swipe-prev:before { content: "\f104"; }

/* line 166, ../sass/style.scss */
.swipe-next { right: 0; }
/* line 167, ../sass/style.scss */
.swipe-next:before { content: "\f105"; }

/* line 171, ../sass/style.scss */
.site-top-bar { height: 50px; background: #45437c; line-height: 50px; color: #fff; display: -moz-box; display: -webkit-box; }
/* line 172, ../sass/style.scss */
.site-top-bar .button { color: #fff; display: inline-block; vertical-align: top; height: 50px; }

/* line 174, ../sass/style.scss */
.site-top-left { -moz-box-flex: 1; -webkit-box-flex: 1; }
/* line 175, ../sass/style.scss */
.site-top-left .button { padding: 0 15px 0 10px; font-size: 16px; }
/* line 176, ../sass/style.scss */
.site-top-left .button:before { content: "\f104"; font-size: 20px; margin-right: 5px; }

/* line 180, ../sass/style.scss */
.site-top-right .button { width: 44px; text-align: center; font-size: 18px; }

/* line 184, ../sass/style.scss */
.site-page { position: relative; min-height: 100%; }

/* line 187, ../sass/style.scss */
.site-menu { position: absolute; width: 214px; left: -214px; top: 0; min-height: 100%; background: url("../images/menu_bg.jpg") no-repeat; -moz-background-size: cover; -o-background-size: cover; -webkit-background-size: cover; background-size: cover; }
/* line 188, ../sass/style.scss */
.site-menu li { position: relative; line-height: 50px; font-size: 21px; }
/* line 189, ../sass/style.scss */
.site-menu li:before { position: absolute; bottom: 0; left: 0; width: 100%; height: 1px; opacity: .2; content: ""; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ExYThjNCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA='); background-size: 100%; background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #a1a8c4), color-stop(100%, rgba(0, 0, 0, 0))); background-image: -moz-linear-gradient(left, #a1a8c4, rgba(0, 0, 0, 0) 100%); background-image: -webkit-linear-gradient(left, #a1a8c4, rgba(0, 0, 0, 0) 100%); background-image: linear-gradient(to right, #a1a8c4, rgba(0, 0, 0, 0) 100%); }
/* line 192, ../sass/style.scss */
.site-menu a { display: block; padding-left: 18px; white-space: nowrap; overflow: hidden; -ms-text-overflow: ellipsis; -o-text-overflow: ellipsis; text-overflow: ellipsis; color: #45437c; }

/* line 196, ../sass/style.scss */
.site-nav-bar { position: relative; height: 50px; background: #fff; border-bottom: 1px solid #c8bdb5; display: -webkit-box; display: box; line-height: 50px; }
/* line 197, ../sass/style.scss */
.site-nav-bar .button { display: inline-block; width: 44px; vertical-align: top; font-size: 18px; color: #45437c; text-align: center; }

/* line 200, ../sass/style.scss */
.nav-bar-title { text-indent: -9999px; height: 100%; background: url("../images/logo.png") center no-repeat; -moz-background-size: auto 40px; -o-background-size: auto 40px; -webkit-background-size: auto 40px; background-size: auto 40px; -webkit-box-flex: 1; box-flex: 1; }

/* line 202, ../sass/style.scss */
.link-lang { font-size: 12px; color: #c0c0c0; }
/* line 203, ../sass/style.scss */
.link-lang.lang-en .en, .link-lang.lang-zh .zh { color: #45437c; }

/* line 205, ../sass/style.scss */
.nav-bar-search { display: none; position: absolute; left: 0; top: 0; right: 0; height: 100%; padding-right: 75px; background: #fff; }
/* line 206, ../sass/style.scss */
.nav-bar-search input { display: block; font-size: 18px; color: #45437c; width: 100%; height: 100%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 0 0 0 46px; border: 0; background: none; }
/* line 207, ../sass/style.scss */
.nav-bar-search .search-cancel { position: absolute; right: 0; top: 0; width: 75px; line-height: 50px; text-align: center; font-size: 16px; color: #797979; }
/* line 208, ../sass/style.scss */
.nav-bar-search:before { position: absolute; pointer-events: none; left: 0; top: 50%; margin-top: -25px; width: 46px; height: 50px; content: "\f002"; text-align: center; font-size: 20px; color: #45437c; }

/* line 212, ../sass/style.scss */
.site-content { padding: 15px; min-height: 260px; background: url("../images/page_bg.jpg") no-repeat top #fff; -moz-background-size: 100% auto; -o-background-size: 100% auto; -webkit-background-size: 100% auto; background-size: 100% auto; }

/* line 213, ../sass/style.scss */
.site-content-white { background: none; }

/* line 216, ../sass/style.scss */
.laluna-party { padding: 0; }

/* line 219, ../sass/style.scss */
.site-footer { padding: 10px; text-align: center; background: #45437c; color: #fff; line-height: 1.5; font-size: 10px; }

/* line 229, ../sass/style.scss */
.index-slides { position: relative; height: 7.25rem; margin: -15px -15px 15px; }
/* line 234, ../sass/style.scss */
.index-slides .islider-dot-wrap { width: auto; height: auto; right: 5px; left: auto; bottom: 24px; line-height: 1; }
/* line 242, ../sass/style.scss */
.index-slides .islider-dot { width: 5px; height: 5px; }
/* line 247, ../sass/style.scss */
.index-slides .pic { position: absolute; width: 100%; height: 100%; }
/* line 251, ../sass/style.scss */
.index-slides .pic img { position: absolute; top: 0; right: 0; bottom: 0; left: 0; width: 100%; margin: auto; }
/* line 261, ../sass/style.scss */
.index-slides .info { position: absolute; bottom: 0; left: 0; right: 0; white-space: nowrap; overflow: hidden; -ms-text-overflow: ellipsis; text-overflow: ellipsis; line-height: 24px; padding: 0 10px; color: #fff; background: rgba(0, 0, 0, 0.5); font-size: 12px; }

/* line 279, ../sass/style.scss */
.index-hots h3 { width: 95%; margin: 0 auto 10px; position: relative; color: #45437c; line-height: 20px; text-align: center; }
/* line 286, ../sass/style.scss */
.index-hots h3:before { content: ""; height: 1px; background: #45437c; position: absolute; left: 0; right: 0; top: 9px; }
/* line 295, ../sass/style.scss */
.index-hots h3 span { position: relative; font-size: 14px; padding: 0 20px; background: #fff; }
/* line 303, ../sass/style.scss */
.index-hots ul { overflow: hidden; margin: 0 -15px; }
/* line 307, ../sass/style.scss */
.index-hots li { float: left; width: 7.35rem; margin: 0 0 10px 0.4rem; }
/* line 312, ../sass/style.scss */
.index-hots .pic { position: relative; border: 1px solid #dfdfdf; height: 5rem; overflow: hidden; }
/* line 317, ../sass/style.scss */
.index-hots .pic img { position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto; width: 100%; }
/* line 327, ../sass/style.scss */
.index-hots .info { white-space: nowrap; overflow: hidden; -ms-text-overflow: ellipsis; text-overflow: ellipsis; font-size: 12px; margin: 5px 0; }

/* line 338, ../sass/style.scss */
.home-contents { margin: -15px; }
/* line 339, ../sass/style.scss */
.home-contents li { position: relative; height: 4.5rem; background-repeat: no-repeat; background-position: center; -moz-background-size: cover; -o-background-size: cover; -webkit-background-size: cover; background-size: cover; }
/* line 340, ../sass/style.scss */
.home-contents li:nth-child(1) { background-image: url(../images/home_1.jpg); }
/* line 341, ../sass/style.scss */
.home-contents li:nth-child(2) { background-image: url(../images/home_2.jpg); }
/* line 342, ../sass/style.scss */
.home-contents li:nth-child(3) { background-image: url(../images/home_3.jpg); }
/* line 343, ../sass/style.scss */
.home-contents li:nth-child(4) { background-image: url(../images/home_4.jpg); }
/* line 344, ../sass/style.scss */
.home-contents li:nth-child(5) { background-image: url(../images/home_5.jpg); }
/* line 345, ../sass/style.scss */
.home-contents li:nth-child(6) { background-image: url(../images/home_6.jpg); }
/* line 347, ../sass/style.scss */
.home-contents a { display: block; height: 100%; }
/* line 348, ../sass/style.scss */
.home-contents span { position: absolute; line-height: 2.1rem; font-size: 1.5rem; padding-left: 0.6rem; left: 0; bottom: 0; color: #fff; text-shadow: 0 0 2px rgba(255, 255, 255, 0.5); }

/* line 352, ../sass/style.scss */
.laluna-login { background-image: url("../images/login_bg.jpg"); }

/* line 353, ../sass/style.scss */
.login-form { margin: auto; width: 90%; }
/* line 354, ../sass/style.scss */
.login-form li { margin-top: 34px; }
/* line 355, ../sass/style.scss */
.login-form label { display: block; line-height: 22px; font-size: 16px; color: #45437c; }
/* line 356, ../sass/style.scss */
.login-form label small { color: #797979; font-size: 10px; }
/* line 358, ../sass/style.scss */
.login-form input { width: 100%; border: 0; border-bottom: 1px solid #e5e5ee; background: none; height: 27px; font-size: 16px; color: #4a4a4a; }
/* line 359, ../sass/style.scss */
.login-form .button-bar { margin: 24px 0; }
/* line 360, ../sass/style.scss */
.login-form .button-bar .link { display: block; text-align: center; font-size: 12px; color: #797979; margin: 20px 0; }

/* line 365, ../sass/style.scss */
.user-center-top { margin: 15px 0 30px; }
/* line 366, ../sass/style.scss */
.user-center-top .pic { width: 70px; height: 70px; position: relative; margin: auto; background: #fff; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1); box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1); }
/* line 368, ../sass/style.scss */
.user-center-top .pic-edit:before { position: absolute; right: 0; bottom: 0; z-index: 9; content: "\f14b"; color: #45437c; }
/* line 369, ../sass/style.scss */
.user-center-top .pic-edit input[type=file] { position: absolute; left: 0; top: 0; opacity: 0; font-size: 9999em; }
/* line 371, ../sass/style.scss */
.user-center-top .userhead { position: relative; height: 100%; overflow: hidden; background: url("../images/avatar.jpg") no-repeat center; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; -moz-background-size: cover; -o-background-size: cover; -webkit-background-size: cover; background-size: cover; }
/* line 372, ../sass/style.scss */
.user-center-top .name { text-align: center; margin-top: 8px; color: #45437c; font-size: 15px; font-weight: bold; }

/* line 374, ../sass/style.scss */
.item-list { margin: 15px 0; }
/* line 375, ../sass/style.scss */
.item-list.list-border { border-top: 1px solid #e5e5ee; border-bottom: 1px solid #e5e5ee; }
/* line 380, ../sass/style.scss */
.item-list li { position: relative; border-bottom: 1px solid #e5e5ee; height: 40px; line-height: 40px; color: #4a4a4a; font-size: 14px; }
/* line 381, ../sass/style.scss */
.item-list li:last-child { border: 0; }
/* line 382, ../sass/style.scss */
.item-list li.list-sep { margin-top: 45px; }
/* line 384, ../sass/style.scss */
.item-list a { display: block; height: 40px; color: #4a4a4a; padding-right: 15px; }
/* line 385, ../sass/style.scss */
.item-list a:before { position: absolute; content: "\f105"; color: #b7b7b7; font-size: 12px; right: 0; top: 0; height: 40px; line-height: 40px; }
/* line 387, ../sass/style.scss */
.item-list .c { vertical-align: middle; display: inline-block; line-height: 35px; }
/* line 388, ../sass/style.scss */
.item-list .ico { display: inline-block; width: 35px; height: 35px; vertical-align: middle; background: url("../images/usercenter_icon_sprites.png") no-repeat; -moz-background-size: 35px auto; -o-background-size: 35px auto; -webkit-background-size: 35px auto; background-size: 35px auto; }
/* line 389, ../sass/style.scss */
.item-list .ico-fav { background-position: 0 -35px; }
/* line 390, ../sass/style.scss */
.item-list .ico-profile { background-position: 0 -70px; }
/* line 391, ../sass/style.scss */
.item-list .ico-reset { background-position: 0 -105px; }
/* line 392, ../sass/style.scss */
.item-list .ico-logout { background-position: 0 -140px; }

/* line 394, ../sass/style.scss */
.cardbox { position: relative; width: 14.5rem; height: 9.1rem; margin: 0 auto; -moz-background-size: 100%; -o-background-size: 100%; -webkit-background-size: 100%; background-size: 100%; font-size: 0.6rem; }
/* line 395, ../sass/style.scss */
.cardbox .user-info { position: absolute; right: 0.95rem; bottom: 0.8rem; width: 3rem; }
/* line 396, ../sass/style.scss */
.cardbox .user-info .pic { height: 4rem; }
/* line 397, ../sass/style.scss */
.cardbox .user-info .pic img { width: 100%; height: 100%; }
/* line 399, ../sass/style.scss */
.cardbox .user-info .num { margin-top: 0.3rem; }
/* line 401, ../sass/style.scss */
.cardbox .date-info { position: absolute; left: 1rem; bottom: 0.8rem; line-height: 1.5; }
/* line 402, ../sass/style.scss */
.cardbox .date-info em { display: block; }

/* line 405, ../sass/style.scss */
.card-vip { background-image: url("../images/vipcard.png"); color: #623f1d; }
/* line 407, ../sass/style.scss */
.card-vip .date-info em { color: #000; }

/*.card-gym-men{ background-image: url("../images/gymcard_men.png"); color: $colorWhite; .date-info{}
}
.card-gym-women{ background-image: url("../images/gymcard_women.png"); color: $colorWhite;}*/
/* line 414, ../sass/style.scss */
.cardbox-vertical { height: 23.65rem; }
/* line 416, ../sass/style.scss */
.cardbox-vertical .user-img { position: absolute; top: 5.7rem; left: 50%; margin-left: -2.55rem; width: 5.1rem; height: 6.6rem; background: url("../images/card_user.png") no-repeat; -moz-background-size: 100%; -o-background-size: 100%; -webkit-background-size: 100%; background-size: 100%; }
/* line 425, ../sass/style.scss */
.cardbox-vertical .user-img img { width: 100%; height: 100%; }
/* line 430, ../sass/style.scss */
.cardbox-vertical .user-img-invalid { display: table-cell; width: 4.1rem; height: 6.6rem; font-size: 0.5rem; line-height: 1.4; vertical-align: middle; padding: 0 0.5rem; }
/* line 439, ../sass/style.scss */
.cardbox-vertical .card-infos { padding-top: 12.9rem; margin: auto; width: 95%; text-align: center; line-height: 0.9rem; }
/* line 445, ../sass/style.scss */
.cardbox-vertical .card-infos dt { color: #dab96b; }
/* line 448, ../sass/style.scss */
.cardbox-vertical .card-infos dd { font-size: 0.75rem; margin-bottom: 0.6rem; }

/* line 454, ../sass/style.scss */
.card-gym-men { background-image: url("../images/gymcard_men_new.jpg"); color: #fff; }

/* line 455, ../sass/style.scss */
.card-gym-women { background-image: url("../images/gymcard_women_new.jpg"); color: #fff; }

/* line 458, ../sass/style.scss */
.card-empty { background: #fff; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.14); -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.14); box-shadow: 0 2px 5px rgba(0, 0, 0, 0.14); text-align: center; }
/* line 459, ../sass/style.scss */
.card-empty a { display: block; height: 100%; }
/* line 460, ../sass/style.scss */
.card-empty a:before { display: table; content: ""; }
/* line 462, ../sass/style.scss */
.card-empty p { line-height: 1.25rem; font-size: 0.7rem; color: #45437c; }
/* line 463, ../sass/style.scss */
.card-empty .add { position: relative; display: block; margin: 1.6rem auto 0.6rem; width: 3.5rem; height: 3.5rem; line-height: 3.5rem; background: #45437c; color: #fff; text-align: center; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; font-size: 0; }
/* line 464, ../sass/style.scss */
.card-empty .add:before, .card-empty .add:after { position: absolute; content: ""; left: 50%; top: 50%; background: #fff; }
/* line 465, ../sass/style.scss */
.card-empty .add:before { width: 1.6rem; margin-left: -0.8rem; margin-top: -0.05rem; height: 0.1rem; }
/* line 466, ../sass/style.scss */
.card-empty .add:after { height: 1.6rem; margin-top: -0.8rem; margin-left: -0.05rem; width: 0.1rem; }

/* line 469, ../sass/style.scss */
.vip-infos { margin: 0 12px; }
/* line 470, ../sass/style.scss */
.vip-infos dt { font-size: 20px; color: #45437c; margin: 28px 0 5px; }
/* line 471, ../sass/style.scss */
.vip-infos dd { font-size: 14px; line-height: 24px; }

/* line 475, ../sass/style.scss */
.form-list ul { display: table; width: 100%; font-size: 14px; }
/* line 476, ../sass/style.scss */
.form-list li { display: table-row; line-height: 34px; }
/* line 477, ../sass/style.scss */
.form-list .t { display: table-cell; padding-right: 15px; padding-top: 10px; color: #45437c; white-space: nowrap; border-bottom: 1px solid #e5e5ee; }
/* line 478, ../sass/style.scss */
.form-list .c { display: table-cell; width: 100%; padding-top: 10px; border-bottom: 1px solid #e5e5ee; }
/* line 479, ../sass/style.scss */
.form-list select { -moz-appearance: none; -webkit-appearance: none; background: none; border: 0; width: 100%; height: 100%; font-size: 14px; color: #666; }
/* line 481, ../sass/style.scss */
.form-list input[type=text], .form-list input[type=password], .form-list input[type=number] { border: 0; height: 100%; width: 100%; padding: 0; background: none; font-size: 14px; color: #666; }

/* line 486, ../sass/style.scss */
.form-vertical { width: 90%; margin: auto; }
/* line 489, ../sass/style.scss */
.form-vertical ul { font-size: 14px; }
/* line 492, ../sass/style.scss */
.form-vertical li { line-height: 1.5; margin-bottom: 10px; }
/* line 496, ../sass/style.scss */
.form-vertical label { display: block; color: #45437c; font-size: 16px; line-height: 34px; }
/* line 502, ../sass/style.scss */
.form-vertical small { display: block; margin: 10px 0; color: #797979; line-height: 1.5; }
/* line 509, ../sass/style.scss */
.form-vertical input[type=text], .form-vertical input[type=password], .form-vertical input[type=number] { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; height: 50px; line-height: 50px; border: 1px solid #d9d9d9; width: 100%; font-size: 14px; color: #666; padding: 0 10px; }
/* line 522, ../sass/style.scss */
.form-vertical .button-bar { margin: 24px 0; }
/* line 525, ../sass/style.scss */
.form-vertical .link { display: block; text-align: center; font-size: 12px; color: #797979; margin: 20px 0; }

/* line 528, ../sass/style.scss */
.cardsinfo-list { margin-bottom: 10px; }
/* line 529, ../sass/style.scss */
.cardsinfo-list .item { padding: 10px 0; border-bottom: 1px solid #e6e6e5; overflow: hidden; font-size: 12px; }
/* line 530, ../sass/style.scss */
.cardsinfo-list .item > a { display: block; padding: 10px 0; margin: -10px 0; overflow: hidden; color: #797979; }
/* line 532, ../sass/style.scss */
.cardsinfo-list .pic { position: relative; float: left; width: 100px; height: 63px; overflow: hidden; }
/* line 533, ../sass/style.scss */
.cardsinfo-list .pic img { position: absolute; max-width: 100%; max-height: 100%; top: 0; right: 0; bottom: 0; left: 0; margin: auto; }
/* line 535, ../sass/style.scss */
.cardsinfo-list .info { display: block; margin-left: 110px; }
/* line 536, ../sass/style.scss */
.cardsinfo-list .info p { margin: 4px 0; }
/* line 537, ../sass/style.scss */
.cardsinfo-list .info .t { color: #45437c; }
/* line 539, ../sass/style.scss */
.cardsinfo-list .more { text-align: right; margin-top: 5px; }
/* line 540, ../sass/style.scss */
.cardsinfo-list .more a { color: #45437c; }

/* line 545, ../sass/style.scss */
.terms-content { background: #fff; }

/* line 546, ../sass/style.scss */
.terms-top { position: relative; height: 5.5rem; margin: 0 -15px 10px; padding: 0 15px; overflow: hidden; border-bottom: 2px solid #eee; }

/* line 548, ../sass/style.scss */
.terms-content-body h3 { color: #45437c; margin: 20px 0; }
/* line 549, ../sass/style.scss */
.terms-content-body ol { padding-left: 20px; list-style: decimal; }
/* line 550, ../sass/style.scss */
.terms-content-body li { margin-bottom: 10px; }
/* line 551, ../sass/style.scss */
.terms-content-body p { margin-bottom: 10px; }

/* line 553, ../sass/style.scss */
.gym-terms-top { margin: 10px 0; text-align: center; line-height: 1.5; }
/* line 554, ../sass/style.scss */
.gym-terms-top strong { display: block; color: #45437c; font-size: 14px; }
/* line 555, ../sass/style.scss */
.gym-terms-top p { font-size: 11px; }

/* line 557, ../sass/style.scss */
.gym-terms-weekbar { background: #f6f6f6; padding: 0 15px; margin: 0 -15px; border: solid 1px rgba(173, 173, 173, 0.32); -moz-box-shadow: 0 -1px 4px 1px rgba(155, 154, 155, 0.29); -webkit-box-shadow: 0 -1px 4px 1px rgba(155, 154, 155, 0.29); box-shadow: 0 -1px 4px 1px rgba(155, 154, 155, 0.29); }
/* line 558, ../sass/style.scss */
.gym-terms-weekbar ul { display: table; width: 100%; }
/* line 559, ../sass/style.scss */
.gym-terms-weekbar li { display: table-cell; height: 34px; text-align: center; color: #45437c; vertical-align: middle; }
/* line 560, ../sass/style.scss */
.gym-terms-weekbar li.current { background: #45437c; color: #fff; }
/* line 562, ../sass/style.scss */
.gym-terms-weekbar b { display: block; font-size: 12px; }
/* line 563, ../sass/style.scss */
.gym-terms-weekbar i { display: block; font-size: 10px; }

/* line 566, ../sass/style.scss */
.gym-terms-list .item { border-bottom: 1px solid #dfdfdf; padding: 10px 10px 10px 90px; overflow: hidden; }
/* line 567, ../sass/style.scss */
.gym-terms-list .pic { position: relative; float: left; margin-left: -90px; width: 80px; height: 80px; overflow: hidden; }
/* line 568, ../sass/style.scss */
.gym-terms-list .pic img { position: absolute; left: 0; top: 0; right: 0; bottom: 0; width: 100%; }
/* line 570, ../sass/style.scss */
.gym-terms-list .name { font-size: 16px; color: #45437c; line-height: 20px; margin: 5px 0; }
/* line 571, ../sass/style.scss */
.gym-terms-list .desc { font-size: 12px; line-height: 1.5; }

/* line 575, ../sass/style.scss */
.events-list { margin: -15px -15px 0; }
/* line 576, ../sass/style.scss */
.events-list .item { padding-bottom: 28px; overflow: hidden; }
/* line 577, ../sass/style.scss */
.events-list .item > a { display: block; }
/* line 579, ../sass/style.scss */
.events-list .pic { display: block; position: relative; overflow: hidden; height: 7.25rem; }
/* line 580, ../sass/style.scss */
.events-list .pic img { position: absolute; width: 100%; top: 0; right: 0; bottom: 0; left: 0; margin: auto; }
/* line 582, ../sass/style.scss */
.events-list .info { display: block; padding: 8px 15px; line-height: 25px; font-size: 14px; }
/* line 583, ../sass/style.scss */
.events-list h3 { font-size: 22px; color: #45437c; line-height: 30px; font-weight: normal; }
/* line 584, ../sass/style.scss */
.events-list .time, .events-list .location { color: #4a4a4a; }
/* line 585, ../sass/style.scss */
.events-list .location { margin-left: 20px; }

/* line 587, ../sass/style.scss */
.events-detail-top { margin-top: -15px; text-align: center; }
/* line 588, ../sass/style.scss */
.events-detail-top .pic { position: relative; display: block; margin: 0 -15px 15px; height: 7.25rem; overflow: hidden; /*&:after{ position: absolute; left: 0; bottom: 0; width: 100%; height: 100%; content: ""; @include background-image(linear-gradient(to bottom ,transparent, transparent 30%, white 100%));}*/ }
/* line 589, ../sass/style.scss */
.events-detail-top .pic img { position: absolute; width: 100%; top: 0; right: 0; bottom: 0; left: 0; margin: auto; }
/* line 592, ../sass/style.scss */
.events-detail-top .swipe { margin: 0 -15px 15px; }
/* line 593, ../sass/style.scss */
.events-detail-top .swipe-wrap { height: 7.25rem; }
/* line 594, ../sass/style.scss */
.events-detail-top .swipe-wrap > div { position: relative; height: 7.25rem; }
/* line 595, ../sass/style.scss */
.events-detail-top .swipe-wrap img { position: absolute; left: 0; top: 0; right: 0; bottom: 0; margin: auto; width: 100%; }
/* line 597, ../sass/style.scss */
.events-detail-top h1 { font-size: 24px; color: #45437c; margin-bottom: 15px; }
/* line 598, ../sass/style.scss */
.events-detail-top .info { margin-bottom: 15px; }
/* line 599, ../sass/style.scss */
.events-detail-top .time, .events-detail-top .location { color: #4a4a4a; }
/* line 600, ../sass/style.scss */
.events-detail-top .location { margin-left: 20px; }

/* line 602, ../sass/style.scss */
.events-detail-body { font-size: 14px; line-height: 24px; text-align: justify; }

/* line 606, ../sass/style.scss */
.benefit-list .item { padding: 10px 0; border-bottom: 1px solid #e6e6e5; overflow: hidden; }
/* line 607, ../sass/style.scss */
.benefit-list .item > a { display: block; padding: 10px 0; margin: -10px 0; overflow: hidden; }
/* line 609, ../sass/style.scss */
.benefit-list .pic { position: relative; float: left; width: 75px; height: 75px; overflow: hidden; }
/* line 610, ../sass/style.scss */
.benefit-list .pic img { position: absolute; width: 100%; top: 0; right: 0; bottom: 0; left: 0; margin: auto; }
/* line 612, ../sass/style.scss */
.benefit-list .info { display: block; margin-left: 89px; padding-top: 12px; }
/* line 613, ../sass/style.scss */
.benefit-list h3 { font-size: 16px; color: #45437c; margin-bottom: 5px; line-height: 24px; white-space: nowrap; overflow: hidden; -ms-text-overflow: ellipsis; -o-text-overflow: ellipsis; text-overflow: ellipsis; }
/* line 614, ../sass/style.scss */
.benefit-list .type { display: block; line-height: 15px; font-size: 12px; color: #797979; }
/* line 615, ../sass/style.scss */
.benefit-list .type em { color: #4a4a4a; }
/* line 617, ../sass/style.scss */
.benefit-list .distance { display: block; text-align: right; color: #f69452; font-size: 10px; margin-top: 5px; }

/* line 619, ../sass/style.scss */
.benefit-detail-top { margin-bottom: 22px; }
/* line 620, ../sass/style.scss */
.benefit-detail-top .banner { position: relative; display: block; margin: -15px -15px 0; height: 7.25rem; overflow: hidden; }
/* line 621, ../sass/style.scss */
.benefit-detail-top .banner img { position: absolute; width: 100%; top: 0; right: 0; bottom: 0; left: 0; margin: auto; }
/* line 623, ../sass/style.scss */
.benefit-detail-top .pic { position: relative; width: 80px; height: 80px; margin: -25px auto 8px; overflow: hidden; background: #fff; -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2); box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2); }
/* line 624, ../sass/style.scss */
.benefit-detail-top .pic img { position: absolute; max-width: 100%; max-height: 100%; top: 0; right: 0; bottom: 0; left: 0; margin: auto; }
/* line 626, ../sass/style.scss */
.benefit-detail-top .name { font-size: 15px; text-align: center; line-height: 20px; margin: 24px 0; }

/* line 628, ../sass/style.scss */
.grid-menu { margin-bottom: 24px; }
/* line 629, ../sass/style.scss */
.grid-menu ul { display: table; width: 100%; table-layout: fixed; }
/* line 630, ../sass/style.scss */
.grid-menu li { display: table-cell; text-align: center; font-size: 12px; }
/* line 631, ../sass/style.scss */
.grid-menu a { display: block; color: #45437c; }
/* line 632, ../sass/style.scss */
.grid-menu a:before { display: block; content: ""; width: 45px; height: 45px; margin: 0 auto 5px; border: 1px solid #bebce4; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; background: url(../images/grid_menu_sprites.png) no-repeat; -moz-background-size: 45px auto; -o-background-size: 45px auto; -webkit-background-size: 45px auto; background-size: 45px auto; }
/* line 634, ../sass/style.scss */
.grid-menu .menu-taxi:before { background-position: 0 -45px; }
/* line 635, ../sass/style.scss */
.grid-menu .menu-photo:before { background-position: 0 -90px; }

/* line 638, ../sass/style.scss */
.benefit-detail-body { line-height: 25px; font-size: 14px; }

/* line 640, ../sass/style.scss */
.benefit-detail-content dl { display: table-row; }
/* line 641, ../sass/style.scss */
.benefit-detail-content dt, .benefit-detail-content dd { display: table-cell; white-space: normal; word-break: break-all; word-wrap: break-word; }
/* line 642, ../sass/style.scss */
.benefit-detail-content dt { text-align: right; min-width: 4em; }
/* line 643, ../sass/style.scss */
.benefit-detail-content dd { padding-left: 10px; color: #797979; }

/* line 647, ../sass/style.scss */
.news-banner { position: relative; margin: -15px -15px 0; height: 12rem; overflow: hidden; }
/* line 649, ../sass/style.scss */
.news-banner .pic img { position: absolute; width: 100%; top: 0; right: 0; bottom: 0; left: 0; margin: auto; }
/* line 651, ../sass/style.scss */
.news-banner .text { position: absolute; left: 0; bottom: 0; width: 100%; background: rgba(0, 0, 0, 0.5); height: 45px; line-height: 45px; color: #fff; font-size: 16px; }
/* line 652, ../sass/style.scss */
.news-banner .text p { white-space: nowrap; overflow: hidden; -ms-text-overflow: ellipsis; -o-text-overflow: ellipsis; text-overflow: ellipsis; margin: 0 20px; }

/* line 656, ../sass/style.scss */
.news-list .tit { font-size: 11px; color: #797979; }
/* line 657, ../sass/style.scss */
.news-list .item { padding: 10px 0; border-bottom: 1px solid #e6e6e5; overflow: hidden; }
/* line 658, ../sass/style.scss */
.news-list .item > a { display: block; padding: 10px 0; margin: -10px 0; overflow: hidden; color: #797979; }
/* line 659, ../sass/style.scss */
.news-list .item:last-child { border-bottom: 0; }
/* line 661, ../sass/style.scss */
.news-list .pic { position: relative; float: left; width: 75px; height: 75px; overflow: hidden; }
/* line 662, ../sass/style.scss */
.news-list .pic img { position: absolute; max-width: 100%; max-height: 100%; top: 0; right: 0; bottom: 0; left: 0; margin: auto; }
/* line 664, ../sass/style.scss */
.news-list .info { display: block; margin-left: 89px; font-size: 11px; }
/* line 665, ../sass/style.scss */
.news-list h3 { font-size: 16px; color: #45437c; margin-bottom: 12px; line-height: 25px; height: 50px; overflow: hidden; }
/* line 666, ../sass/style.scss */
.news-list .time { margin-left: 20px; }

/* line 669, ../sass/style.scss */
.news-detail-top { margin-bottom: 15px; }
/* line 670, ../sass/style.scss */
.news-detail-top h1 { font-size: 22px; color: #45437c; line-height: 30px; margin-bottom: 10px; }
/* line 671, ../sass/style.scss */
.news-detail-top .info { font-size: 11px; color: #797979; }
/* line 672, ../sass/style.scss */
.news-detail-top .time { margin-left: 20px; }

/* line 674, ../sass/style.scss */
.news-detail-body { font-size: 14px; line-height: 24px; margin-bottom: 30px; }
/* line 675, ../sass/style.scss */
.news-detail-body img { max-width: 100%; }

/* line 679, ../sass/style.scss */
.merchant-detail-top { margin-top: -15px; }
/* line 681, ../sass/style.scss */
.merchant-detail-top .banner { position: relative; display: block; margin: 0 -15px; height: 7.25rem; overflow: hidden; }
/* line 682, ../sass/style.scss */
.merchant-detail-top .banner img { position: absolute; width: 100%; top: 0; right: 0; bottom: 0; left: 0; margin: auto; }
/* line 684, ../sass/style.scss */
.merchant-detail-top .name { font-size: 18px; text-align: center; line-height: 20px; margin: 10px 0; font-weight: bold; }

/* line 686, ../sass/style.scss */
.list-title { margin: 0 -15px; color: #45437c; padding: 20px 15px 10px; font-size: 16px; background: #f5f5f5; }

/* line 694, ../sass/style.scss */
.tbview-list li { position: relative; border-bottom: 1px solid #e5e5ee; padding: 8px 0; line-height: 30px; color: #4a4a4a; font-size: 14px; }
/* line 695, ../sass/style.scss */
.tbview-list li:last-child { border: 0; }
/* line 696, ../sass/style.scss */
.tbview-list li.list-sep { margin-top: 45px; }
/* line 698, ../sass/style.scss */
.tbview-list a { display: -webkit-box; color: #4a4a4a; padding: 8px 15px 8px 0; margin: -8px 0; }
/* line 699, ../sass/style.scss */
.tbview-list a:before { position: absolute; content: "\f105"; color: #b7b7b7; font-size: 12px; right: 0; top: 0; height: 46px; line-height: 46px; }
/* line 701, ../sass/style.scss */
.tbview-list .c { display: block; -webkit-box-flex: 1; color: #4a4a4a; }
/* line 702, ../sass/style.scss */
.tbview-list .ico { display: block; width: 30px; height: 30px; vertical-align: middle; font-size: 18px; color: #45437c; }
/* line 703, ../sass/style.scss */
.tbview-list .ex { display: block; margin-left: 7px; color: #797979; font-size: 10px; }

/* line 705, ../sass/style.scss */
.discount-desc { border-top: 1px solid #e5e5ee; padding: 10px 0; line-height: 1.5; }

/* line 712, ../sass/style.scss */
.item-table { margin: 10px -15px; }
/* line 714, ../sass/style.scss */
.item-table .row { border-bottom: 1px solid #dfdfdf; padding: 5px 10px; line-height: 26px; }
/* line 719, ../sass/style.scss */
.item-table .row:first-child { border-top: 1px solid #dfdfdf; }
/* line 723, ../sass/style.scss */
.item-table .row > a { display: block; padding: 5px 10px; margin: -5px -10px; }
/* line 729, ../sass/style.scss */
.item-table table { width: 100%; }
/* line 732, ../sass/style.scss */
.item-table td { padding: 0 5px; }
/* line 736, ../sass/style.scss */
.item-table .subrow .row { padding: 5px 20px; }
/* line 738, ../sass/style.scss */
.item-table .subrow .row:first-child { border-top: 0; }

/*# sourceMappingURL=style.css.map */
